strands-agents
strands-agents-tools
boto3
bedrock-agentcore
langchain_aws
tavily-python
langchain>=0.1.0
langchain-core>=0.1.0
langchain-community>=0.0.10
langchain-tavily
# Optional dependencies
python-dotenv
uv
bedrock-agentcore-starter-toolkit
pydantic
aws-opentelemetry-distro~=0.12.1